.loading-container {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

#left-wheel, #right-wheel {
    transform-origin: center;
    transform-box: fill-box;
    animation: wheel 500ms linear infinite;
}

@keyframes wheel {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#cart-body {
    animation: body 700ms linear infinite;
}

@keyframes body {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}